{% if errorCode == 0 %}
<script>
// Set new default font family and font color to mimic Bootstrap's default styling
Chart.defaults.global.defaultFontFamily = 'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
Chart.defaults.global.defaultFontColor = '#858796';

{% if queue is not none and queue|length > 0 %}
// Queue Chart
var ctxQueueChart = document.getElementById("myQueueChart");
var myQueueChart = new Chart(ctxQueueChart, {
  type: 'doughnut',
  data: {
    labels: [
      {% for res in queue %}
      "{{ res[0] }} {{ res[1] }}",
      {% endfor %}                 
    ],
    datasets: [{
      data: [
          {% for res in queue %}
          {{ res[2] }},
          {% endfor %}                 
        ],
    }],
  },
  options: {
    plugins: {
      colorschemes: {
        scheme: 'office.Kilter6'
      }
    },
    maintainAspectRatio: false, legend: { display: true, position: "right" }, cutoutPercentage: 80,
    tooltips: { backgroundColor: "rgb(255,255,255)", bodyFontColor: "#858796", borderColor: '#dddfeb', borderWidth: 1, xPadding: 15, yPadding: 15,
    displayColors: false, caretPadding: 10,},    
  },
});
{% endif %}

{% if results is not none and results|length > 0 %}
// Results Chart
var ctxResultsChart = document.getElementById("myResultsChart");
var myResultsChart = new Chart(ctxResultsChart, {
  type: 'doughnut',
  data: {
    labels: [
      {% for res in results %}
      "{{ res[0] }} {{ res[1] }}",
      {% endfor %}                 
    ],
    datasets: [{
      data: [
          {% for res in results %}
          {{ res[3] }},
          {% endfor %}                 
        ],
    }],
  },
  options: {
    plugins: {
      colorschemes: {
        scheme: 'office.Infusion6'
      }
    },
    maintainAspectRatio: false, legend: { display: true, position: "right" }, cutoutPercentage: 80,
    tooltips: { backgroundColor: "rgb(255,255,255)", bodyFontColor: "#858796", borderColor: '#dddfeb', borderWidth: 1, xPadding: 15, yPadding: 15,
    displayColors: false, caretPadding: 10,},    
  },
});
{% endif %}

{% if tags is not none and tags|length > 0 %}
// Tags Chart
var ctxTagsChart = document.getElementById("myTagsChart");
var myTagsChart = new Chart(ctxTagsChart, {
  type: 'doughnut',
  data: {
    labels: [
      {% for res in tags %}
      "{{ res[0] }}",
      {% endfor %}                 
    ],
    datasets: [{
      data: [
          {% for res in tags %}
          {{ res[2] }},
          {% endfor %}                 
        ],
    }],
  },
  options: {
    plugins: {
      colorschemes: {
        scheme: 'tableau.Classic20'
      }
    },
    maintainAspectRatio: false, legend: { display: true, position: "right" }, cutoutPercentage: 80,
    tooltips: { backgroundColor: "rgb(255,255,255)", bodyFontColor: "#858796", borderColor: '#dddfeb', borderWidth: 1, xPadding: 15, yPadding: 15,
    displayColors: false, caretPadding: 10,},    
  },
});
{% endif %}
</script>
{% endif %}
