{% include 'header.html' %}
<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
  </div>

  {% if not errorCode==0 %}

  <div class="card shadow mb-4 bg-danger text-white shadow">
    <div class="card-body">
      <i class="fas fa-exclamation-circle text-white-300"></i> &nbsp;
      {% if errorCode==1 %}
      <form action="/index.html" method="post" class="d-none d-sm-inline-block form-inline">
      <input name="action" type="hidden" value="initialize"/>
      Database does not exists.&nbsp;
      <button type="submit" class="btn btn-danger btn-icon-split btn-sm shadow">
        <span class="icon text-white-50">
          <i class="fas fa-database"></i>
        </span>
        <span class="text">Initialize database</span>
      </button>
      </form>
      {% elif errorCode==2 %}
      Error accessing database
      {% endif %}
    </div>
  </div>
  
  {% else %}  
  
  <!-- Content Row -->
  <div class="row">

    <!-- 1st -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Mutations</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{ cnt_mutations }}</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 2nd -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-success shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Queue</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{ cnt_queue }}</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 3rd -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-info shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Results</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{ cnt_results }}</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 4th -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-warning shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Sources</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{ cnt_sources }}</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  {% if running is not none and running == 0 and not cnt_queue==0 %}
  <div class="row">
    <div class="col-lg-12 mb">
      <div class="card shadow mb-4 bg-warning text-white shadow">
        <div class="card-body">
          <i class="fas fa-exclamation-triangle text-white-300"></i> &nbsp;MCY jobs not running. There are still items in queue, if mcy was has been started please check console for errors.
          <form action="/index.html" method="post" class="d-none d-sm-inline-block form-inline">
            <input name="action" type="hidden" value="run"/>
            <button type="submit" class="btn btn-warning btn-icon-split btn-sm shadow">
              <span class="icon text-white-50">
                <i class="fas fa-play"></i>
              </span>
              <span class="text">Run</span>
            </button>
            </form>      
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  {% if running is not none and running == 0 and cnt_queue==0 %}
  <div class="row">
    <div class="col-lg-12 mb">
      <div class="card shadow mb-4 bg-success text-white shadow">
        <div class="card-body">
          <i class="fas fa-thumbs-up text-white-300"></i> &nbsp;MCY finished work. Download your data to investigate.
        </div>
      </div>
    </div>
  </div>
  {% endif %}      

  <div class="row">
    <div class="col-lg-4 mb-4">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Queue</h6>
            </div>
            <div class="card-body">
              {% if queue is not none and queue|length > 0 %}      
              <div class="table-responsive">   
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>Test</th>
                    <th>Running</th>
                    <th>Count</th>
                  </tr>
                </thead>
                <tbody>                
                  {% for res in queue %}
                  <tr>
                    <td>{{ res[0] }}</td>
                    <td>{{ res[1] }}</td>
                    <td>{{ res[2] }}</td>
                  </tr>
                  {% endfor %}                 
                </tbody>
              </table>
              </div>
              {% else %}
              No queue items available
              {% endif %}    
            </div>          
          </div>      
    </div>

    <div class="col-lg-4 mb-4">
      
    <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Results</h6>
        </div>
        <div class="card-body">      
          {% if results is not none and results|length > 0 %}
          <div class="table-responsive">
          <table class="table table-bordered" id="dataTableResult" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>Test</th>
                <th>Result</th>
                <th>Count</th>
              </tr>
            </thead>
            <tbody>                
              {% for res in results %}
              <tr>
                <td>{{ res[0] }}</td>
                <td>{{ res[1] }}</td>
                <td>{{ res[2] }}</td>
              </tr>
              {% endfor %}                 
            </tbody>
          </table>
          </div>
          {% else %}
          No results available
          {% endif %}
        </div>          
      </div>
    </div>
  
    <div class="col-lg-4 mb-4">


    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Tags</h6>
      </div>
      <div class="card-body">      
        {% if tags is not none and tags|length > 0 %}
        <div class="table-responsive">   
        <table class="table table-bordered" id="dataTableResult" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Tag</th>
              <th>Count</th>
            </tr>
          </thead>
          <tbody>                
            {% for res in tags %}
            <tr>
              <td>{{ res[0] }}</td>
              <td>{{ res[2] }}</td>
            </tr>
            {% endfor %}                 
          </tbody>
        </table>
        </div>
        {% else %}
        No tags available
        {% endif %}
      </div>          
    </div>


  </div>

  </div>


  <div class="row">
      <!-- Queue Chart -->
      <div class="col-lg-4 mb-4">
        <div class="card shadow mb-4">
          <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Queue Chart</h6>
          </div>
          <div class="card-body">
            {% if queue is not none and queue|length > 0 %}      
            <div class="chart-pie pt-4 pb-2">
              <canvas id="myQueueChart"></canvas>
            </div>
            {% else %}
            No queue data available
            {% endif %}            
          </div>
        </div>
      </div>  
      <!-- Results Chart -->
      <div class="col-lg-4 mb-4">
        <div class="card shadow mb-4">
          <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Results Chart</h6>
          </div>
          <div class="card-body">
            {% if results is not none and results|length > 0 %}
            <div class="chart-pie pt-4 pb-2">
              <canvas id="myResultsChart"></canvas>
            </div>
            {% else %}
            No results data available
            {% endif %}  
          </div>
        </div>
      </div>        
      <!-- Tags Chart -->
      <div class="col-lg-4 mb-4">
          <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
              <h6 class="m-0 font-weight-bold text-primary">Tags Chart</h6>
            </div>
            <div class="card-body">
              {% if tags is not none and tags|length > 0 %}
              <div class="chart-pie pt-4 pb-2">
                <canvas id="myTagsChart"></canvas>
              </div>
              {% else %}
              No tags data available
              {% endif %}      
            </div>
          </div>
        </div>        
    </div>
  <div class="row">
    <div class="col-lg-12 mb">
      <a href="db.sqlite3" class="btn btn-primary btn-icon-split btn-lg">
          <span class="icon text-white-50">
            <i class="fas fa-download"></i>
          </span>
          <span class="text">Download database</span>
      </a>
    </div>
  </div>
  {% endif %}
</div>
<!-- /.container-fluid -->
{% include 'footer.html' %}
{% include 'chart_section.html' %}
