h1, p.topic-title {
  color: #d6368f;
}

h2 {
  color: #4b72b8;
}

a {
  color: #8857a3;
}

a.external {
  color: #d6368f;
  text-decoration: underline;
}

.vp-sidebar a {
  text-decoration: none;
  color: #000000;
}

.vp-sidebar a.current {
  color: #d6368f;
}
